body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6ee;
}

#currentTime, #legend {
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}


#version, #versionNumber{
    text-align: center;
}   

#updateDate{
    padding-left:5px;
    /* font-size: 16px; */
}


#legend {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}
#legend span {
    padding-left: 5px;
}

#busInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
}
.bus-container {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

.line-title {
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    align-items: center; /* Centre les éléments verticalement */
    padding: 10px 15px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    text-align: left;
    min-height: 60px; /* Hauteur minimale pour assurer une cohérence entre toutes les barres */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
    /* border-bottom: 5px solid #FFF;  */
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
}


.direction-title {
    font-size: 18px;
    text-align: right;  
}


.direction-container {
    padding: 10px 15px;
    font-size: 25px;
    opacity: 0.8;
}

.time-info {
    margin-left: 10px;
    font-size: 25px;
}
.real-time {
    color: #007BFF;
    font-style: normal;
}

.scheduled-time {
    color: #666;
}

.scheduled-time::before {
    content: '\1F553 '; /* Symbole d'horloge (assurez-vous que l'espace après le code est inclus pour séparer le symbole du texte) */
    margin-right: 5px;
}

.real-time::before {
    content: '📶';
    display: inline-block;
    margin-right: 5px;
    color: #007BFF; /* Ou toute autre couleur de votre choix */
}

#controlsContainer {
    display: flex;
    justify-content: space-between; /* Écarte les enfants aux extrémités du conteneur */
    align-items: center; /* Centre les enfants verticalement */
    padding-left: 15px; /* Ajoute un peu d'espace autour du conteneur */
    padding-right: 15px;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne en dessous si l'espace est insuffisant */
    font-size: 20px;
}



#legend {
    display: flex;
    align-items: center; /* Centre verticalement les éléments à l'intérieur de chaque div */
}



.real-time, .scheduled-time {
    margin-right: 10px; /* Ajoute un peu d'espace entre les spans et leurs labels respectifs */
}

#autoRefreshOption {
    display: flex;
    justify-content: center;  /* Centre les éléments horizontalement */
    align-items: center;      /* Centre les éléments verticalement */
    font-size: 25px;          /* Définit la taille de la police pour tous les enfants */
}

input[type='checkbox'] {
    width: 30px;
    height: 30px;
    background:white;
    accent-color: #007BFF;
    border-radius: 5px;
    border:2px solid #555;
    /* transform: scale(1.2); */
}

#currentLink {
    color: #007bff; /* Couleur bleue pour le lien, par exemple */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

#currentLink:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol pour une meilleure accessibilité */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #333;
    background-color: #f6f6ee;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.clear { clear: both; height: 60px; }

